{{ define "main" }}
  <!-- Banner -->

  {{ with .Params.banner }}
    <section class="section pt-14 bg-gradient-to-tr">
      <div class="container">
        <div class="row justify-center flex-wrap">
          <div class="md:col-6  mb-8 text-center">
            <h1 class="mb-4 text-h1 lg:text-h1">
              {{ .title }}<span class="text-orange-400">HANDS ON</span>
            </h1>
            <p class="mb-8 text-h6">
              {{ .content | markdownify }}
            </p>
            {{ with .button }}
              {{ if .enable }}
                <a
                  class="btn btn-primary"
                  href="{{ .link | absURL }}"
                  {{ if strings.HasPrefix .link `http` }}
                    target="_blank" rel="noopener"
                  {{ end }}>
                  {{ .label }}
                  <i class="fa fa-arrow-right pl-2"></i>
                </a>
              {{ end }}
            {{ end }}
          </div>
          <div class="md:col-6 relative" style="min-height:300px">
            {{ partial "image" (dict "Src" .image "Alt" "Banner image" "Loading" "eager" "Class" "coder mx-auto absolute lg:!max-w-[600px] z-10" "DisplayXL" "800x" ) }}
            <div class="pathed bg-green-200 flex justify-center items-center" style="offset-path: path('M300,300 L100,100');">
              <!-- <h6>AWS</h6> -->
              <i class="ph-duotone ph-open-ai-logo" style="font-size:5em; color:indigo"></i>
            </div>
            <div class="pathed bg-green-200 flex justify-center items-center " style="offset-path: path('M300,300 L300,20');">
              <i class="ph-duotone ph-codepen-logo" style="font-size:5em; color:indigo"></i>
            </div>            
            
            <div class="pathed bg-green-200 flex justify-center items-center " style="offset-path: path('M300,300 L500,80');">
              <i class="ph-duotone ph-atom" style="font-size:5em; color:indigo"></i>
            </div>
          </div>
        </div>
      </div>
    </section>
  {{ end }}
  <!-- /Banner -->

  <!-- Features -->
  {{ range $i, $e:= .Params.features }}
    <section class="section-sm bg-primary">
      <div class="container relative hero ">
        <div class="py-8 md:absolute row items-center justify-between rounded bg-white shadow shadow-blue-700 dark:bg-neutral-700 " style="top:-130px;">
          <!-- <div
            class="mb:md-0 {{ if not (modBool $i 2) }}
              md:order-2
            {{ end }} md:col-5 mb-6">
            {{ partial "image" (dict "Src" .image "Alt" "feature image" "DisplayXL" "520x" "DisplayLG" "425x" "DisplayMD" "360x") }}
          </div> -->
          <div
            class="{{ if not (modBool $i 2) }}
              md:order-1
            {{ end }} ">
            <h2 class="mb-4 text-center text-h2 ">
              {{ .title | markdownify }}
            </h2>
            <p class="mb-8 text-lg text-center ">
              {{ .content | markdownify }}
            </p>
            <ul class="row">
              {{ range .bulletpoints }}
                <li class="md:col-4 sm:col-12 relative mb-4 pl-6">
                  <!-- Card -->
                <div class="block rounded-2xl bg-white shadow-md dark:bg-neutral-700 text-center">

                  <!-- Card image -->
                  <div>
                    <i class="  {{ .icon }}" style="color:#222222; font-size:5em"></i>
                  </div>

                  <!-- Card body -->
                  <div class="p-6">

                    <!-- Title -->
                    <h5 class="mb-2 text-xl font-bold tracking-wide text-neutral-800 dark:text-neutral-50">
                      {{.title | markdownify}}
                    </h5>

                    <!-- Text -->
                    <p class="mb-2 text-base text-neutral-500 dark:text-neutral-300">
                      {{ .description | markdownify }}
                    </p>


                  </div>

                </div>
        <!-- Card -->
                </li>
              {{ end }}
            </ul>
            {{ with .button }}
              {{ if .enable }}
                <a class="btn btn-primary mt-6" href="{{ .link | absURL }}">
                  {{ .label }}
                  <i class="fa fa-arrow-right pl-2"></i>
                </a>
              {{ end }}
            {{ end }}
          </div>
        </div>
      </div>
    </section>
  {{ end }}
  <!-- /Features -->

  <section class="container">
    <h2 class="py-7 text-center">Job Oriented Courses</h2>
    <div class="row p-0  course-list justify-evenly">
        {{ $courses := .Site.GetPage "/course" }}
        {{ if $courses }}
            {{ range where $courses.Pages ".Params.category" "eq" "job-oriented"}}
            <div class="p-0 col-12 gap-2 md:col-3  border border-gray-200 rounded-lg shadow-md lg:max-w-md">
              <div class="flex w-full justify-center items-center bg-orange-400">
                <i class="ph {{ .Params.icon }}" style="color:#ffffff; font-size:5em"></i>
              </div>
              <div class="p-10 card-body">
                <h2 class="mb-2 text-h2 text-primary tracking-tight">
                  {{.Params.mtitle}}
                </h2>
                
                <p class="mb-3 font-normal text-gray-700">
                    {{ .Summary }}.
                </p>
                
                <a href="{{ .Permalink }}" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-purple-700 rounded-lg hover:bg-purple-800 focus:outline-none">
                    Explore
                </a>
              </div>
              
          </div>
            {{ end }}
        {{ else }}
            <p>No courses available</p>
        {{ end }}
    </div>
</section>
 
  <!-- Courses section--> 
  <section class="section">
    <div class="container">
      <h2 class="text-center">Popular courses</h2>
      <!-- course list -->
      <div class="row justify-content-center">
        <!-- course item -->
        {{ $courses := .Site.GetPage "/course" }}
        {{ if $courses }}
        {{ range where $courses.Pages ".Params.category" "ne" "job-oriented"}}
        <div class="col-12 md:col-4 mb-5">
          {{ .Render "course" }}
        </div>
        {{ end }}
        {{ end }}

      </div>
      <!-- /course list -->
    </div>
  </section>
<!-- /Courses -->



  <!-- Testimonials -->
      <section class="section">
        <div class="container">
          <div class="row flex-wrap">
            <div class="md:col-12 lg:col-8  mx-auto mb-12 text-center">
              {{ range .Params.reviewsection }}
              <h2 class="mb-4">
                {{ .title | markdownify }}
              </h2>
              <p>
                {{ .description | markdownify }}
              </p>
              {{ end }}
            </div>
            <div class="col-12">
              <div>
                <div class="row">
                  {{ range .Params.testimonials }}
                    <div class="col-12 md:col-4 bg-white relative shadow-md ">
                      <div class="absolute avatar left-3 -top-5 flex">
                        <i class="ph-duotone ph-coins" style="color:#f1951c; font-size:5em"></i>
                        <h6 class="text-h4 text-orange-400">{{.salary}}</h6>

                      </div>
                      <div
                        class=" dark:bg-darkmode-theme-light rounded-lg px-7 py-5 ">
 
                        <blockquote class="mt-8">
                          {{ .content | markdownify }}
                        </blockquote>
                        <div class="mt-11 flex items-center">
                          <div class="text-dark dark:text-white">
                            {{ partial "image" (dict "Src" .avatar "Size" "50x50" "Class" "rounded-full" "Alt" .name) }}
                          </div>
                          <div class="ml-4">
                            <h3 class="h5 font-primary font-semibold">
                              {{ .name }}
                            </h3>
                            <p class="text-dark dark:text-white">
                              {{ .company | markdownify }}
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  {{ end }}
                </div>

            </div>
          </div>
        </div>

      </section>
  <!-- /Testimonials -->
{{ end }}
