{{ define "main" }}

<!-- contact -->
<section class="section bg-gray">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="section-title text-center">Contact <span class="text-orange-400">US</span> </h2>
        <p>
          {{ .Content }}
        </p>

      </div>
    </div>
    <div class="row justify-center">
      <div class="col-12 md:col-6 max-w-md mx-auto bg-white shadow-md rounded-lg p-6">
        <form id="contact-form" method="POST" class="space-y-4">
          <div>
            <input 
              type="text" 
              id="name" 
              name="name" 
              placeholder="Your Name" 
              required 
              class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
            >
          </div>
      
          <div>
            <input 
              type="email" 
              id="mail" 
              name="email" 
              placeholder="Your Email" 
              required 
              class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
            >
          </div>
      
          <div>
            <input 
              type="tel" 
              id="phone" 
              name="phone" 
              placeholder="Your Phone" 
              required 
              class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
            >
          </div>
      
          <input 
            type="hidden" 
            id="course" 
            name="course" 
            value="contact-form" 
            class="hidden"
          >
      
          <div>
            <textarea 
              id="message" 
              name="message" 
              placeholder="Your Message" 
              rows="4"
              class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
            ></textarea>
          </div>
      
          <button 
            type="submit" 
            id="contactBtn"
            class="w-full bg-primary font-bold text-orange-400 py-2 rounded-md hover:bg-blue-600 transition-colors duration-300"
          >
            Send
          </button>
        </form>
      </div>
      <section class="col-12 md:col-6 section pt-0">
        <!-- Google Map -->
        <div class="mapouter"><div class="gmap_canvas"><iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=sathvik%20softech&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><br><style>.mapouter{position:relative;text-align:right;height:500px;width:600px;}</style><style>.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:600px;}</style></div></div> 
      <!-- 
        <div id="map_canvas" 
        data-latitude="{{ site.Params.map.map_latitude }}"
        data-longitude="{{ site.Params.map.map_longitude }}" 
        data-marker="{{ site.Params.map.map_marker | absURL }}"
        data-marker-name="{{ site.Title }}"></div> -->
      </section>      

      <div class="col-12 md:col-6 content">
        <a href="tel:{{ site.Params.mobile }}" class="text-color h5 d-block">{{ site.Params.mobile }}</a>
        <a href="mailto:{{ site.Params.email }}" class="mb-5 text-color h5 d-block">{{ site.Params.email }}</a>
        <p>{{ site.Params.address | markdownify }}</p>
      </div>
    </div>
  </div>
</section>
<a href="https://wa.me/8861523267" class="fixed right-0 bottom-64 circle block bg-green-500" target="_blank">
  <i class="ph ph-whatsapp-logo" style="font-size:5rem; color:rgb(255,255,255)"></i>
</a>
  
<!-- /contact -->

<!-- gmap -->

<!-- /gmap -->

{{ end }}